body {
    margin: 0;
    padding: 0;
}

blockquote {
    border-left: 5px solid #343537;
    padding: 0 0 0 5px;
}

blockquote, embed, img, iframe, ol, p, pre, table, ul {
    margin: 0;
}

li {
    margin: 0;
}

a:hover {
    // text-decoration: underline;
}

embed, img, iframe {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
