/**
 * Root Rules
 * -----------------------------------------------------------------------------
 */

html {
    font: 100% $font--opensans;
}

body {
    margin: 0;
}

blockquote {
    border-left: 0.4rem solid #343537;
    padding: 0 0 0 0.4rem;
}

blockquote, embed, img, iframe, ol, p, pre, table, ul {
    margin: 0;
}

li {
    margin: 0;
}

a:hover {
    // text-decoration: underline;
}

embed, img, iframe {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
