/**
 * Headline Items
 * -----------------------------------------------------------------------------
 */

@for $i from 1 through 6 {
    h#{$i} {

        $font-size--headline: modular-scale(5 - $i, $mod-scale--size, $mod-scale--ratio);
        $line-height--headline: $font-size--headline * $mod-scale--ratio;

        color: #343537;
        font-size: rem($font-size--headline);
        line-height: rem($line-height--headline);
    }
}

/**
 * Other Typographic Crap
 * -----------------------------------------------------------------------------
 */

blockquote, input, label, li, option, p, select {
    color: #343537;
    text-align: left;
}
