/*
 * Nav Menu Social Links
 * See header.php for more information.
 */

/* Real Men Wear Beards */
.beard { background: #C94444 url('../img/social/beard.png') no-repeat 95% center; }
.beard:hover { background-color: #993232; }

/* 091 Labs */
.labs { background: #25aae1 url('../img/social/labs.png') no-repeat 95% center; }
.labs:hover { background-color: #3095be; }

/* Email */
.email { background: #f5756c url('../img/social/email.png') no-repeat 95% center; }
.email:hover { background-color: #F0A49E; }

/* Facebook */
.facebook { background: #3B5998 url('../img/social/facebook.png') no-repeat 95% center; }
.facebook:hover { background-color: #587ecd; }

/* Flickr */
.flickr { background: #0063dc url('../img/social/flickr.png') no-repeat 95% center; }
.flickr:hover { background-color: #ff0084; }

/* GitHub */
.github { background: #666 url('../img/social/github.png') no-repeat 95% center; }
.github:hover { background-color: #999; }

/* Google+ */
.google { background: #dd4b39 url('../img/social/google.png') no-repeat 95% center; } 
.google:hover { background-color: #AD3526; }

/* Instagram */
.instagram { background: #3f729b url('../img/social/instagram.png') no-repeat 95% center; } 
.instagram:hover { background-color: #2A5475; }

/* LinkedIn */
.linkedin { background: #0976b4 url('../img/social/linkedin.png') no-repeat 95% center; } 
.linkedin:hover { background-color: #000; }

/* Pinterest */
.pinterest { background: #cc2127 url('../img/social/pinterest.png') no-repeat 95% center; } 
.pinterest:hover { background-color: #F0242B; }

/* RSS */
.rss { background: #f26522 url('../img/social/rss.png') no-repeat 95% center; } 
.rss:hover { background-color: #FF9663; }

/* Tumblr */
.tumblr { background: #35465c url('../img/social/tumblr.png') no-repeat 95% center; } 
.tumblr:hover { background-color: #5D82B3; }

/* Twitter */
.twitter { background: #55acee url('../img/social/twitter.png') no-repeat 95% center; } 
.twitter:hover { background-color: #28A1FC; }

.beard,
.email,
.facebook,
.flickr,
.github,
.google,
.instagram,
.labs,
.linkedin,
.pinterest,
.rss,
.social,
.tumblr,
.twitter {
    color: #fff;
    background-size: auto 90%;
}
