/**
 * Code Blocks
 */

code, pre { 
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

code {
    font-size: 0.9em;
    font-weight: bold;
}

code span {
    // Workaround for Anchor..
    font-weight: normal;
}

pre {
    background: #343537;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0;
    line-height: 1.2em;
    overflow: auto;
    text-align: left;
    padding: 10px;
}

