/**
 * Forms
 * -----------------------------------------------------------------------------
 */

form {
    margin: 0 auto;
    padding: 0 0 1.5rem 0;
    // FIXME: Why this??
    width: 96%;
}

input, textarea {
    /* Removes rounded corners and borders on iOS devices. */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.25rem;
    resize: none;
}

input {
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem;
    width: 49.5%;

    &[name="name"] {
        float: left;
    }

    &[name="email"] {
        float: right;
    }
}

textarea {
    height: 9.5rem;
    width: 100%;
}
