/**
 * Forms
 * -----------------------------------------------------------------------------
 */

form {
    // FIXME: Why this??
    // width: 96%;
    width: 100%;

    input {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        box-sizing: border-box;
        height: 2.5rem;
        padding: 0 0 0 0.25rem;
        width: 100%;
    }
}

input, textarea {
    /* Removes rounded corners and borders on iOS devices. */
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.25rem;
    resize: none;
}

textarea {
    height: 9.5rem;
    width: 100%;
}

input {
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem;
    width: 49.5%;

    &[name="name"] {
        float: left;
    }

    &[name="email"] {
        float: right;
    }
}
