table {
    width: 75%;
}

td, th {
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    padding: 0.5rem;
    text-align: left;
}

th {
    color: #fff;
    background: #343537;
}

tr:nth-child(even) {
    background: #f4b44f;
}

