/*
 * CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

/*
 * Webfonts
 */

/* 
 * Name: Source Code Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcecodepro.adobe/
 * License: SIL Open Font License 1.1
 */

@font-face {
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/source_code_pro/scp-r.eot?') format('embedded-opentype'),
        url('fonts/source_code_pro/scp-r.woff') format('woff'),
        url('fonts/source_code_pro/scp-r.otf')  format('opentype'),
        url('fonts/source_code_pro/scp-r.ttf')  format('truetype'),
        url('fonts/source_code_pro/scp-r.svg')  format('svg');
}

/* 
 * Name: Source Sans Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcesans.adobe/
 * License: SIL Open Font License 1.1
*/

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/source_sans_pro/ssp-r.eot?') format('embedded-opentype'),
        url('fonts/source_sans_pro/ssp-r.woff') format('woff'),
        url('fonts/source_sans_pro/ssp-r.otf')  format('opentype'),
        url('fonts/source_sans_pro/ssp-r.ttf')  format('truetype'),
        url('fonts/source_sans_pro/ssp-r.svg')  format('svg');
}

/*
 * Global Rules
 */

body,
html {
    height: 100%;
    width: 100%;
}

/*
 * Text Doodad Elements
 */

blockquote,
ol,
p,
pre,
table,
ul {
    margin: 0 0 13px 0;
}

blockquote,
input,
label,
li,
option,
p,
select { 
    color: #343537;
    font: 0.95em 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    text-align: left;
}

blockquote {
    border-left: 5px solid #343537;
    padding: 0 0 0 5px;
}

/*
 * Lists
 */

li { margin: 0; }

/*
 * Text Decoration
 */

del { text-decoration: line-through; }
em { font-style: italic; }
strong { font-weight: bold; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

/*
 * Inline Elements
 */

a,
del,
em,
span,
sub,
sup,
strong,
time {
    font-family: inherit;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

/*
 * Images and Embeds
 */

embed,
img,
iframe {
    height: auto;
    margin: 0 0 10px 0;
    max-width: 100%;
}

/*
 * Headline Items
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343537;
    font-family: 2.75em 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.65em; }
h5 { font-size: 1.50em; } 
h6 { font-size: 1.35em; }

/*
 * Code Blocks
 */

code,
pre { 
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

code {
    font-size: 0.85em;
}

pre {
    background: #343537;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.7em;
    letter-spacing: 0;
    line-height: 1.2em;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}

/*
 * Tables
 */

table {
    /* Override this width on a per-table basis if you need narrower. */
    width: 75%;
}

@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }
}

td,
th {
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    text-align: left;
    padding: 10px;
}

th {
    color: #fff;
    background: #343537;
}

tr:nth-child(even) { 
    background: #f4b44f; 
}

/*
 * Site Header
 */

header a {
    display: block;
    height: 100%;
    width: 100%;
}

header h4 {
    color: #fff;
    margin: 0 auto;
    max-width: 90%;
    /* !important-this centers the text verticall and spaces rest of header. */
    padding: 90px 0 90px 0;
    text-align: center;
}

header .banner {
    background: url('img/bluedawn.jpg') no-repeat left top;
    background-size: cover;
}

header .title {
    /* This is a black mask over the above background image. */
    background: rgba(0,0,0,0.5);
    height: 100%;
}

/* Logo */
header .logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 70px;
    margin: 0 auto;
    margin-top: -37.5px;
    padding: 5px;
    width: 70px;
}

header .logo {
    /* Avatar icon goes here. */
    background: #55acee url('img/social/twitter.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    transition: 0.4s background;
    width: 100%;
}

header .logo:hover {
    /* Whatever social icon you want goes here. See img/social for the rest. */
    background: url('img/caira_avatar.jpg') no-repeat center center;
    background-size: cover;
}

header .logo a {
    border-radius: 50%;
}

/*
 * Navigation Menu
 */

nav {
    margin: 15px 0 15px 0;
}

nav a {
    display: block;
    font-size: 1.03em;
    height: 100%;
}

nav a:hover {
    text-decoration: none;
}

/* 
 * Site Search Form
 */

nav form {
    width: 100%;
}

nav form input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    box-sizing: border-box;
    height: 40px;
    padding: 0 0 0 3px;
    width: 100%;
}

/*
 * Navigation Menu Panes
 */

nav .panes {
    margin: 7px 0 0 0;
    overflow: auto;
}

nav ul {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 5px;
    width: 25%;
}

@media screen and (max-width: 800px) {
    /* Four columns desktop, two colums mobile. */
    nav ul {
        width: 50%;
    }
}

nav li {
    background: #f4b44f;
    color: #343537;
    list-style-type: none;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
}

nav li a {
    height: 40px;
    line-height: 40px; 
}

nav li a:hover {
    background: #ffc76f; 
}

nav li a:active {
    background: #ca8e2f;
}

/*
 * Menu Toggle Button
 */

/* Button for drop-down menu. */
nav .button {
    background: #343537 url('img/menu_burger.png') no-repeat center center;
    background-size: 45% auto;
    border-radius: 50%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 2px;
    width: 50px;
}

/*
 * Nav Menu Area
 */

nav .menu-wrap {
    /* This is the arrow below the menu button when the menu is open. */
    background: #fff url('img/inset_top_arrow.svg') no-repeat center center;
    background-size: auto 100%; 
    display: none;
    padding: 20px 0 0 0;
}

nav .menu {
    background: #343537;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
}

/*
 * Site Content Wrapper
 */

.content {
    margin: 0 auto;
    /* To stop smear on gigantor screen setups. */
    max-width: 1440px;
    padding: 0 0 100px 0;
    top: 0;
    width: 65%;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 95%;
    }
}

/*
 * Article
 */

article {
    margin: 0 0 50px 0;
}

article a {
    color: #ba3434;
    font-weight: bold;
}

article a img {
    border: 2px solid #343537;
    box-sizing: border-box;
}

article a:hover {
    color: #ca4343;
}

article blockquote {
    font-size: 0.89em;
}

article ol,
article ul {
    margin: 0 0 0 30px;
}

/*
 * Post Title and Author Info
 */

.post-title {
    border-bottom: 2px solid #343537;
    box-sizing: border-box;
    padding: 0 0 3px 0;
    text-align: left;
}

.post-title a {
    color: #343537;
    text-decoration: none;
}

.post-title a:hover {
    color: #F4B44F;
}

.post-info {
    /* !important-clears float below. */
    overflow: auto;
}

.post-info span {
    /* Edit post link. */
    float: right;
}

/*
 * Instra-site Navigation
 */

.navigation {
    margin: 0 auto;
    overflow: auto;
    width: 210px;
}

.navigation a {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.navigation a:hover {
    background: #e24a4a;
    text-decoration: none;
}

.navigation a:active {
    background: #ba3434; 
}

.navigation span {
    background: #343537;
    color: #fff;
    font-size: 0.85em;
    text-align: center;
    width: 100px;
}

.navigation .previous { float: left; }
.navigation .next { float: right; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Test if client is mobile since UA sniffing is iffy.
    Checked by bool isMobile in functions.js */
    .mobile-device-test {
        display: none;
    }
}
