/*
 * CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

/*
 * Webfonts
 */

/* 
 * Name: Source Code Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcecodepro.adobe/
 * License: SIL Open Font License 1.1
 */

@font-face {
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/source_code_pro/scp-r.eot?') format('embedded-opentype'),
        url('fonts/source_code_pro/scp-r.woff') format('woff'),
        url('fonts/source_code_pro/scp-r.otf')  format('opentype'),
        url('fonts/source_code_pro/scp-r.ttf')  format('truetype'),
        url('fonts/source_code_pro/scp-r.svg')  format('svg');
}

/* 
 * Name: Source Sans Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcesans.adobe/
 * License: SIL Open Font License 1.1
*/

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/source_sans_pro/ssp-r.eot?') format('embedded-opentype'),
        url('fonts/source_sans_pro/ssp-r.woff') format('woff'),
        url('fonts/source_sans_pro/ssp-r.otf')  format('opentype'),
        url('fonts/source_sans_pro/ssp-r.ttf')  format('truetype'),
        url('fonts/source_sans_pro/ssp-r.svg')  format('svg');
}

/*
 * Global Rules
 */

body,
html {
    height: 100%;
    width: 100%;
}

/*
 * Text Doodad Elements
 */

blockquote,
ol,
p,
pre,
table,
ul {
    margin-bottom: 13px;
}

blockquote,
input,
label,
li,
option,
p,
pre,
select { 
    color: #343537;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    line-height: 1.4em;
    text-align: left;
}

blockquote {
    border-left: 5px solid #343537;
    padding: 0 0 0 5px;
}

/*
 * Lists
 */

li { margin-bottom: 0; }

/*
 * Text Decoration
 */

del { text-decoration: line-through; }
em { font-style: italic; }
strong { font-weight: bold; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

/*
 * Inline Elements
 */

a,
del,
em,
span,
sub,
sup,
strong,
time {
    font-family: inherit;
    font-size: inherit;
}

a:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid;
}

/*
 * Images and Embeds
 */

embed,
img,
iframe {
    height: auto;
    margin-bottom: 10px;
    max-width: 100%;
}

/*
 * Headline Items
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343537;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 2.75em;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
}

h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.65em; }
h5 { font-size: 1.50em; } 
h6 { font-size: 1.35em; }

/*
 * Code Blocks
 */

code,
pre { 
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

code {
    font-size: 0.85em;
}

pre {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #343537;
    color: #fff;
    font-size: 0.75em;
    overflow: hidden;
    padding: 10px;
}

/*
 * Tables
 */

table {
    /* Override this width on a per-table basis if you need narrower. */
    width: 75%;
}

@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }
}

td,
th {
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    text-align: left;
    padding: 10px;
}

th {
    color: #fff;
    background-color: #343537;
}

tr:nth-child(even) { 
    color: #fff;
    background-color: #f4b44f; 
}

tr:nth-child(odd) {
    /* Kicking around colours. */
}

/*
 * Site Header
 */

header a {
    display: block;
    height: 100%;
    width: 100%;
}

header h4 {
    color: #fff;
    margin: 0 auto;
    max-width: 90%;
    padding: 90px 0 90px 0;
    text-align: center;
}

.header-banner {
    background: url('img/bluedawn.jpg') no-repeat left 50%;
    background-size: 120% auto;
    height: 100%;
}

.header-title {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

/* Logo */
.header-logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto;
    margin-top: -40px;
    padding: 5px;
    width: 80px;
}

.header-logo {
    /* Avatar icon goes here. */
    background: #55acee url('img/social/twitter.png') no-repeat center center;
    background-size: 100% auto;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.header-logo:hover {
    /* Whatever social icon you want goes here. See img/social for the rest. */
    background: url('img/caira_avatar.jpg') no-repeat center center;
    background-size: 100% auto;
}

.header-logo a {
    border-radius: 50%;
}

header a:hover {
    border-bottom: none;
}

/*
 * Navigation Menu
 */

/* Button for drop-down menu. */
.nav-button {
    background: #343537 url('img/menu_light.png') no-repeat center center;
    background-size: 40% auto;
    border-radius: 50%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50px;
}

/*
 * Site Content Wrapper
 */

.content-wrap {
    margin: 40px 0 40px 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1440px;
    width: 65%;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 95%;
    }
}

/*
 * Article
 */

article {
    margin-bottom: 50px;
}

article a {
    color: #ba3434;
    font-weight: bold;
}

article a:hover {
    color: #ca4343;
}

article blockquote {
    font-size: 0.89em;
}

article ol,
article ul {
    margin-left: 30px;
}

/*
 * Post Title and Author Info
 */

.post-title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #343537;
    padding: 0 0 3px 0;
    text-align: left;
}

.post-title a {
    color: #343537;
}

.post-title a:hover {
    border-bottom: none;
    color: inherit;
}

.post-info:after {
    /* Clear the float from the span, below. */
    clear: both;
}

.post-info span {
    /* Edit post link. */
    float: right;
}
