/*
 * CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

/*
 * Webfonts
 */

/* 
 * Name: Source Code Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcecodepro.adobe/
 * License: SIL Open Font License 1.1
 */

@font-face {
    font-family: 'Source Code Pro Regular';
    src: 
        url('fonts/source_code_pro/scp-r.eot?') format('embedded-opentype'),
        url('fonts/source_code_pro/scp-r.woff') format('woff'),
        url('fonts/source_code_pro/scp-r.otf')  format('opentype'),
        url('fonts/source_code_pro/scp-r.ttf')  format('truetype'),
        url('fonts/source_code_pro/scp-r.svg')  format('svg');
}

/* 
 * Name: Source Sans Pro Regular
 * Creator: Adobe Systems
 * URL: http://sourceforge.net/projects/sourcesans.adobe/
 * License: SIL Open Font License 1.1
*/

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: 
        url('fonts/source_sans_pro/ssp-r.eot?') format('embedded-opentype'),
        url('fonts/source_sans_pro/ssp-r.woff') format('woff'),
        url('fonts/source_sans_pro/ssp-r.otf')  format('opentype'),
        url('fonts/source_sans_pro/ssp-r.ttf')  format('truetype'),
        url('fonts/source_sans_pro/ssp-r.svg')  format('svg');
}

/*
 * Global Rules
 */

body,
html {
    height: 100%;
    width: 100%;
}

/*
 *
 */

blockquote,
input,
label,
li,
option,
p,
pre,
select { 
    color: #343537;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    font-weight: 600;
    line-height: 1.2em;
    text-align: left;
}

/*
 * Lists
 */

li { margin-bottom: 0; }

/*
 * Text Decoration
 */

del { text-decoration: line-through; }
em { font-style: italic; }
strong { font-weight: bold; }
sup { vertical-align: super; }
sub { vertical-align: sub; }

/*
 * Inline Elements
 */

a,
del,
em,
span,
sub,
sup,
strong,
time {
    font-family: inherit;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

/*
 * Headline Items
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #343537;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 2.75em;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.65em; }
h5 { font-size: 1.5em; } 
h6 { font-size: 1.35em; }

/*
 * Code Blocks
 */

code{
    font-size: 0.93em;
}

code,
pre { 
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
}

pre {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.95em;
    padding: 6px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

/*
 * Tables
 */

/*
 * Can never remember:
 * th = header
 * tr = row
 * td = cell
 */

table {
    /* Override this width on a per-table basis if you need narrower. */
    width: 75%;
}

@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }
}

td,
th {
    color: #343537;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace; 
    text-align: left;
    padding: 10px;
}

th {
    color: #fff;
    background-color: #343537;
}

tr:nth-child(even) { 
    color: #fff;
    background-color: #f4b44f; 
}

tr:nth-child(odd) {}

/*
 * Site Header
 */

header h4 {
    color: #fff;
    margin: 0 auto;
    max-width: 90%;
    padding: 90px 0 90px 0;
    text-align: center;
}

.header-banner {
    background: url('img/bluedawn.jpg') no-repeat left 50%;
    background-size: 120% auto;
    height: 100%;
}

.header-text {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}

.header-logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 10px;
    width: 100px;
}

.header-logo {
    /* Avatar icon goes here. */
    background: url('img/caira_avatar.jpg') no-repeat center center;
    background-size: 100% auto;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.header-logo a {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.header-logo a:hover {
    background-color: rgba(255,255,255,0.3);
}

/*
 * Navigation Menu
 */

nav ul {
    background-color: rgba(0,255,0,0.3);
    display: table;
    margin-bottom: 40px;
    width: 100%;
}

nav li {
    display: table-cell;
    list-style-type: none;
}

nav a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #343537;
    color: #fff;
    display: block;
    height: 100%;
    padding: 10px;
    width: 100%;
}

nav a:hover {
    background-color: #F4B44F; 
    text-decoration: none;
}

nav li:hover {
}

/*
 * Site Content Wrapper
 */

.content-wrap {
    margin: 40px 0 40px 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 95%;
    }
}

/*
 * Article
 */

article blockquote,
article ol,
article p,
article pre,
article table,
article ul {
    margin-bottom: 10px;
}

article a {
    font-weight: bold;
}

article blockquote,
article ol,
article ul {
    margin-left: 30px;
}

article a:hover {
    text-decoration: underline;
}

.post-title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #343537;
    color: #fff;
    /*color: #343537;*/
    /*border-bottom: 3px solid #343537;*/
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.post-title a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .post-title {
        text-align: center;
    }
}
