/**
 * Articles
 * -----------------------------------------------------------------------------
 */

article {
    padding-bottom: 2rem;

    embed, img, iframe {
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    blockquote {
        border-left: 0.5rem solid palette(anchor, grey);
        padding: 0 0 0 0.5rem;
    }

    a {
        color: palette(anchor,red);
        font-weight: bold;

        &:hover {
            // color: inherit;
        }

        img {
            border: 0.2rem solid palette(anchor, grey);
            box-sizing: border-box;
        }
    }

    ol, ul {
        margin-left: 2rem;
    }

    .article-title {
        border-bottom: 0.1rem solid palette(anchor, grey);
        box-sizing: border-box;
        padding: 0 0 0.25rem 0;
        text-align: left;
    }

    .article-title a {
        color: palette(anchor, grey);
        text-decoration: none;
    }

    .article-title a:hover {
        color: palette(anchor, yellow);
    }

    .article-info p {
        overflow: auto;
    }

    .article-info span {
        float: right;
    }
}
