/**
 * Articles
 * -----------------------------------------------------------------------------
 */

article { padding: 0 0 35px 0; }

article a {
    color: #ba3434;
    font-weight: bold;
}

article a img {
    border: 2px solid #343537;
    box-sizing: border-box;
}

article a:hover { color: #ca4343; }
article blockquote { font-size: 0.89em; }

article ol,
article ul {
    margin-left: 30px;
}

/*
 * Post Title and Author Info
 */

article .article-title {
    border-bottom: 2px solid #343537;
    box-sizing: border-box;
    padding: 0 0 3px 0;
    text-align: left;
}

article .article-title a {
    color: #343537;
    text-decoration: none;
}

article .article-title a:hover {
    color: #F4B44F;
}

article .article-info {
    font-size: 0.79em;
    margin-top: 3px;
}

article .article-info {
    margin-bottom: 20px;
}

article .article-info p {
    overflow: auto;
}

article .article-info span {
    float: right;
}
