/*
 * Site Header
 */

header a {
    display: block;
    height: 100%;
    width: 100%;
}

header a:hover {
    text-decoration: none;
}

header h4 {
    color: #fff;
    margin: 0 auto;
    max-width: 90%;
    /* !important-this centers the text vertical and spaces rest of header. */
    padding: 5.5rem 0 5.5rem;
    text-align: center;
}

header .banner {
    background: left top/cover no-repeat url('../img/header.jpg');
}

header .title {
    /* This is a black mask over the above background image. */
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* Logo */
header .logo-wrap {
    background-color: #fff;
    border-radius: 50%;
    height: 4.5rem;
    margin: 0 auto;
    margin-top: -2.25rem;
    padding: 0.25rem;
    width: 4.5rem;
}

header .logo {
    /* Avatar icon goes here. */
    background: #55acee center/cover no-repeat url('../img/social/twitter.png');
    border-radius: 50%;
    height: 100%;
    transition: 0.4s background;
    width: 100%;

    &:hover {
        /* Whatever social icon you want goes here. See img/social for the rest. */
        background: center/cover no-repeat url('../img/avatar.png');
    }

    a {
        border-radius: 100%;
    }
}
