/*
 * Site Header
 */

.header {
    &__banner {
        background: center/cover no-repeat url('../img/header.jpg');
    }

    &__title {
        background: rgba(0,0,0,0.25);
        margin: 0;
        padding: 5rem 0;
        text-align: center;
    }

    &__title-link {
        color: #fff;
        text-decoration: none;
        width: 100%;
    }

    &__logo {
        // FIXME: Replace image with vector.
        background: #55acee center/cover no-repeat url('../img/social/twitter.png');
        border: 0.25rem solid #fff;
        border-radius: 50%;
        margin: -2.25rem auto 1.5rem;
        transition: 0.4s background;
        @include square-flex(4.5rem 1);

        &:hover {
            // FIXME: Programmatically get avatar from Twitter.
            background-image: url('../img/avatar.png');
        }
    }

    &__logo-link {
        display: block;
        @include square-flex(100% 1);
    }
}
