/*
 * Navigation Menu
 */

.menu {
    box-sizing: border-box;

    a, span {
        // FIXME
        display: block;
        height: 100%;
    }

    a:hover {
        // FIXME
        text-decoration: none;
    }

    &__content {
        display: none;
        background: #343537 center/auto 100% no-repeat url('../img/inset_top_arrow.svg');
        margin: 1rem 0 1rem 0;
        padding-top: 1.25rem;
    }

    &__toggle {
        // Remove invisible padding around child button element.
        font-size: 0;
        text-align: center;
    }

    &__searchform {
        // TODO
        margin-bottom: 0.5rem;
    }

    &__submenus {
        display: flex;
    }

    &__submenu {
        flex: 0 1 auto;
        // FIXME: Why this width?
        max-width: 32.5%;
    }

    &__item {
        background: #f4b44f;
        list-style-type: none;
        margin: 0 0 0.25rem 0;
        overflow: hidden;
        width: 100%;

        &:hover {
            background: #ffc76f;
        }

        &:active {
            background: #ca8e2f;
        }

        /* Optional highlight colour. So much orange gets dull. */
        .list-alt {
            // FIXME
            background-color: #cee3f8;

            &:hover {
                background-color: #E6EFF7;
            }

            &:active {
                 background-color: #A3CDF7;
            }
        }

        a img {
            // FIXME
            display: block;
            height: auto;
            margin-bottom: 0;
            width: 100%;
        }

        a, span {
            // FIXME
            box-sizing: border-box;
            color: #343537;
            font-weight: bold;
            padding: 0.5rem;
            text-align: left;
        }
    }
}
