/*
 * Navigation Menu
 */

.wrap {
    /* This is the arrow below the menu button when the menu is open. */
    /* Make sure the wrapped */
    background: #fff center/auto 100% no-repeat url('../img/inset_top_arrow.svg');
    display: none;
    margin: 0 0 0.5rem 0;
    padding: 1.25rem 0 0 0;
}

.menu {
    background: #343537;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.25rem;
}


nav {
    margin: 1rem 0 1rem 0;

    a, span {
        display: block;
        height: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    form {
        padding-bottom: 0;
        width: 100%;

        input {
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            border-radius: 0;
            box-sizing: border-box;
            height: 2.5rem;
            padding: 0 0 0 0.25rem;
            width: 100%;
        }
    }

    .menu {
        overflow: auto;
    }

    ul {
        display: inline-block;
        margin: 0 auto;
        margin-top: 0.5rem;
        width: 32.5%;
    }

    li {
        background: #f4b44f;
        list-style-type: none;
        margin: 0 0 0.25rem 0;
        overflow: hidden;
        width: 100%;

        &:hover {
            background: #ffc76f;
        }

        &:active {
            background: #ca8e2f;
        }

        /* Optional highlight colour. So much orange gets dull. */
        .list-alt {
             background-color: #cee3f8;

             &:hover {
                 background-color: #E6EFF7;
             }

            &:active {
                 background-color: #A3CDF7;
            }
        }

        a img {
            display: block;
            height: auto;
            margin-bottom: 0;
            width: 100%;
        }

        a, span {
            box-sizing: border-box;
            color: #343537;
            font-weight: bold;
            padding: 0.5rem;
            text-align: left;
        }
    }

    .left{
        float: left;
    }

    .right {
        float: right;
    }
}

